{% extends "base.html" %}

{% block main %}
	{% for message in data.messages %}
		<h3>{{ message.title }}</h3>
		<p>{{ message.body }}</p>
	{% endfor %}
	<form class="form-inline" action="{{ url_for('add_message') }}" method=post>
		<div class="control-group">
			<div class="form-actions">
				<label class="control-label">Title</label>
	       		<div class="controls">
	            	<input type="text" class="input-xlarge" name="title">
	        	</div>
		    	<label class="control-label">Message:</label>
		    	<div class="controls">
					<textarea class="input-xlarge" name="message" rows="3"></textarea>
				</div>
				<br />
	        	<button type="submit" class="btn btn-primary">Submit</button>
	        </div>
		</div>
	</form>
{% endblock %}
